* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #424242;
  background-color: #fff;
}

a {
  transition: all .25s ease-in-out;
  &:hover {
    text-decoration: none;
  }

}

.btn {
  border-radius: 3px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 14px;
  padding: 0 10px;
  transition: all .25s ease-in-out;
  color: #fff;
  border: 1px solid transparent;
}

.btn-red {
  color: #fff;
  background-color: #ff0000;
  box-shadow: 0 5px 11px 1px rgba(0, 0, 0, 0.35);
  font-weight: 500;
  padding: 0 25px;
  &:hover {
    color: #ff0000;
    background-color: #fff;
    border: 1px solid #ff0000;
    box-shadow: none;
  }
}

.btn-drop {
  color: #fff;
  font-size: 12px;
  background-color: #638ac1;
  &:hover {
    color: #638ac1;
    background-color: #fff;
    border: 1px solid #638ac1;
  }
}

.btn-block-head {
  .btn-block {
    display: flex;
    height: 100%;
    align-items: center;
  }
}

.logo-text {
  font-size: 28px;
  font-weight: 900;
}

.phone-block {
  text-align: right;
  .phone-text {
    display: inline-block;
    text-align: left;
    font-size: 12px;
    a {
      line-height: 20px;
      color: #359acc;
      font-weight: bold;
      &:hover {
        color: #757575;
      }
    }
    div {
      line-height: 20px;
      font-weight: 500;
    }
    .viber {
      color: #6f3faa;
    }
    .app {
      color: #75b73b;
    }
  }
  .phone-number {
    display: inline-block;
    color: #23426b;
    font-size: 14px;
    div {
      line-height: 20px;
      .fa {
        font-size: 16px;
        color: #afc9da;
      }
      span {
        font-weight: bold;
      }
    }

  }
}

.lang-block {
  a {
    font-size: 12px;
    border-left: 2px solid #424242;
    padding: 0 5px;
    color: #424242;
    font-weight: 700;
    &:hover {
      color: #bdbdbd;
    }
  }
  .active {
    color: #bdbdbd;
    border-left: 1px solid #bdbdbd;
  }
  a:first-child {
    border: none;
    padding: 0 5px 0 0;
  }
}

.header-wrap {
  border-top: 5px solid #01579b;
}

.logo {
  width: 100px;
  height: 50px;
  line-height: 50px;
  img {
    width: 100%;
    display: inline-block;
  }
}

.nav-wrap {
  background-color: #638ac1;
  margin: 15px 0 0 0;
}

nav {
  .menu-top {
    width: 100%;
    margin: 0;
    height: 60px;
    position: relative;
    .menu-list {
      list-style: none;
      border-left: 1px solid #bdbdbd;
      float: left;
      width: 20%;
      text-align: center;
      &:hover {
        .menu-item {
          background-color: #01579b;
          color: #fff;
        }
      }
      .menu-item {
        color: #fff;
        font-weight: 700;
        font-size: 16px;
        display: table-cell;
        vertical-align: middle;
        height: 60px;
        width: 205px;
        padding: 0 20px;
        line-height: 18px;
        background-color: #638ac1;
      }
    }
    .menu-list:last-child {
      border-right: 1px solid #bdbdbd;
    }
  }
}

.menu-drop-block {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 2;
  padding: 15px 0;
  display: none;
  .menu-drop {
    .menu-drop-list {
      list-style: none;
      float: left;
      width: 20%;
      margin: 0 0 10px 0;
      .btn-drop {
        width: 160px;
        margin: 0 auto;
      }
    }
  }
}

.add-menu {
  background-color: #01579b;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  &:hover {
    cursor: pointer;
  }
  + .menu-drop-block {

    left: auto;
    right: 0;
    display: none;
    width: 400px;
    .menu-drop-list {
      width: 50%;
      margin: 0 0 10px 0;
      .btn-drop {
        width: 180px;
        margin: 0 auto;
      }
    }
  }
}
.layer{
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main-top-wrap {
  position: relative;
  background: url('/img/DSC_0036.jpg') no-repeat;
  height: 450px;
  background-size: 100% 170%;
  background-position-y: 75%;
  img {
    height: 450px;
    width: 100%;
  }
}